body {
    background-color: #202020;
    color: #d5c4a1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SF Mono';
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 6px 0;
}

a:hover {
    opacity: 0.8;
}

p {
    margin: 0;
}

#content {
    max-width: 100%;
}

.section {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    width: 150px;
}

.title {
    font-size: 16px;
    border-bottom: 1px solid rgba(213, 196, 161, .6);
    padding-bottom: 2px;
    margin-bottom: 20px;
}

.links {
    font-size: 12px;
}

